<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QuanLiTour.Properties.Settings.TravelConnectionString"
            connectionString="Data Source=DESKTOP-U21MSOU\SQLEXPRESS;Initial Catalog=QL_Travel;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>