@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*@model IEnumerable<DAL_QuanLiTour.TOUR>
<h2>Create</h2>
<form>
    @using(Html.BeginForm("Index","Test", FormMethod.Post))
    {
        @Html.TextBox(Model => Model.Name, new { @class="form-control", @placehoder = "Name" })

        <input type="text"name="tentour"/>
        <input type="submit" />
    }
</form>*@
